header {
    display: block;
    width: 96%;
    margin: 0 auto;
    height: 50px;
    color: white;
    background-color: rgb(23, 92, 212);
}

footer {
    display: block;
    width: 96%;
    margin: 0 auto;
    height: 75px;
}

hr {
    border: 0px;
    height: 0px;
    border-top: 1px solid rgba(166, 235, 6, 0.1);
    border-bottom: 1px solid rgba(22, 233, 15, 0.89);
    margin: 20px 0px;
}
body {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0px;
    font-family: 微軟正黑體;
}
nav {
    display: block;
    width: 96%;
    margin: 0 auto;
    height: 50px;
}

nav>ul {
    padding: 0px;
}

nav>ul>li {
    position: relative;
    float: left;
    width: 60px;
    margin: 0px 1px;
    padding: 10px;
    list-style: none;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

nav>ul>li>a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.photo {
    width: 98%;
    margin: 0 1%;
}

.photo-source {
    width: 100%;
}

.photo-info {
    width: 100%;
    height: 100px;
    text-align: left;
}

.img-photo {
    max-width: 100%;
    height: auto;
}

.a-detail {
    display: block;
    text-decoration: none;
    color: #0066ff;
    font-weight: bold;
}

.a-back {
    position: relative;
    float: right;
    text-decoration: none;
    color: #0066ff;
    font-family: "Arial";
}

.a-about {
    text-decoration: none;
    color: #000000;
    margin: 10px 0px;
}
/*PC版樣式 (≧769px)*/
@media screen and (min-width: 769px) {
    .photo {
        width: 31%;
        float: left;
        margin: 0 1%;
    }

    footer {
        clear: left;
    }
}

