<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Show All Products</title>
</head>
<body>
	<table border="1" width="80%">
		<thead>
			<tr>
				<th>Code</th>
				<th>Name</th>
				<th>Price</th>
				<th>Image</th>				
			</tr>
		</thead>
		<tbody>
			<tr th:each="p: ${products}">
				<td th:text="${p.code}"></td>
				<td th:text="${p.name}"></td>
				<td th:text="${p.price}"></td>
				<td>
				 <img th:src="@{|/api/productImage/${p.code}|}" width="400" height="320" alt="No Image" />				
				</td>				
			</tr>
		</tbody>
	</table>
</body>
</html>