<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>
    AngularJS - fake product Demo using $http service
  </title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <!-- Load AngularJS -->
  <script src="./js/main.js"></script>
  <style>
    .button {
      cursor: pointer;
      color: blue;
    }

    td,
    th {
      border: 1px solid gray;
      width: 25%;
      text-align: left;
    }

    table {
      width: 800px;
    }
  </style>

  <head>

  <body ng-app="ProductManagement" ng-controller="ProductManagementController">
    <h1>
      AngularJS - Use $http to invoke Product APIs
    </h1>
    <h2>Add/Edit Product</h2>

    <form ng-submit="submitProduct()">
      <table>
        <tr>
          <td>Category</td>
          <td><input type="text" ng-model="form.category" size="60" /></td>
        </tr>
        <tr>
          <td>Title</td>
          <td><input type="text" ng-model="form.title" size="100" /></td>
        </tr>
        <tr>
          <td>Description</td>
          <td><input type="text" ng-model="form.description" size="100" /></td>
        </tr>
        <tr>
          <td>price</td>
          <td><input type="text" ng-model="form.price" size="60" /></td>
        </tr>
        <tr>
          <td>Image Path</td>
          <td><input type="text" ng-model="form.image" size="60" /></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Submit" /></td>
        </tr>
      </table>
    </form>
    <table>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>

      <tr ng-repeat="product in products">
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td><img src="{{product.image}}" width="80px" height="60px" /></td>
        <td><a ng-click="editProduct( product )" class="button">Edit</a> | <a ng-click="removeProduct( product )"
            class="button">Remove</a></td>
      </tr>

    </table>



  </body>

</html>